select
  border: none
  outline: none
  font-family: 'Roboto', sans-serif
  font-weight: 500
  width: 100%
  position: relative
  font-size: 16px
  appearance: none
  height: 0px
  color: map-get($colorsHS, gray)
  text-indent: 10px
  background-color: transparent
  transition: all 100ms ease-in-out

option
  font-size: 15px
  font-family: 'Roboto', sans-serif
  font-weight: 300
  outline: none
  border: none
  // &:hover
  //   background: red
  // &:checked
  //   color: map-get($colorsHS, white)
  //   background-color: map-get($colorsHS, gray)


.select
  +mod('active')
    height: 30px

  +mod('background-default')
    background-color: map-get($var-color-gray, form-group)

  +mod('font-size-small')
    font-size: 12px

  +mod('cursor')
    cursor: pointer

  +mod('multiple')
    padding: 10px 0px
    height: 60px

  +ele('arrow')
    position: absolute
    right: 0
    padding-right: 10px
    // color: $hc-morado_FB
    pointer-events: none
    background-color: map-get($var-color-gray, form-group)

  +ele('container')
    width: 100%
    position: relative
