@import url('https://fonts.googleapis.com/css?family=Roboto:300,500')
::selection
  color: map-get($colorsHS, white)
  background: map-get($colorsHS, gray)

body
  padding: 0px
  margin: 0px
  font-family: 'Roboto', sans-serif
  background-color: map-get($colorsHS, white)
  color: map-get($colorsHS, gray)
  user-select: none
