.hs-small_modal
  width: 100%
  height: 80px

  padding: 5px

  display: flex
  flex-direction: column
  justify-content: space-between

  box-sizing: border-box

  color: map-get($_color-main, violet-L2)

  overflow: hidden

  +mod('normal')
    background-color: map-get($_color-main, violet-H1)

  +mod('success')
    background-color: map-get($_color-secondary, green)

  +mod('error')
    background-color: map-get($_color-secondary, red)

  +ele('title')
    padding-bottom: 5px

    border-bottom: dashed 1px map-get($_color-main, violet-L2)

    font-size: 15px
    text-indent: 10px

  +ele('body')
    margin-top: 5px
    padding: 0px 5px 5px 5px

    font-size: 13px
    font-weight: 300
    text-align: center

    & > p
      margin: 0px
