label
  width: 100%
  height: 50px
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 16px
  cursor: pointer
  transition: all 150ms linear

.label
  +mod('active')
    font-size: 13px
    margin-top: 5px
    display: flex
    justify-content: space-between
    height: 15px
    font-weight: 300
    cursor: default
    overflow: hidden

  +ele('status')
    position: absolute
    top: 0
    right: 0
    margin: 5px 5px 0px 0px
    color: lighten(map-get($colorsHS, gray), 10)
    cursor: pointer

    +ele('icon')
      height: 10px

    +ele('msg')
      z-index: map-get($var-z-index, inputLabel)
      position: absolute
      bottom: 0
      left: 0
      box-sizing: border-box
      padding: 5px
      font-size: 13px
      height: 100%
      width: 50%
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      background-color: map-get($colorsHS, gray)
      color: lighten(map-get($colorsHS, gray), 60)
