textarea
  width: 100%
  height: 0px

  margin: 10px 0px
  padding-left: 10px

  border: none
  outline: none

  font-size: 14px
  font-family: 'Roboto', sans-serif
  font-weight: 500

  resize: none

  color: map-get($_color-secondary, gray)
  background-color: transparent

  overflow-y: scroll

.hs-textarea
  +mod('active')
    height: 200px
