button
  width: 90px
  height: 100%

  padding: 5px

  display: flex
  justify-content: center
  align-items: center

  outline: none
  border: none

  font-family: 'Roboto', sans-serif
  font-size: 13px

  background-color: transparent
  color: map-get($_color-secondary, gray)

  cursor: pointer

  overflow: hidden

  &:active
    outline: none
    border: none

.hs-btn
  +mod('margin-right')
    margin-right: 10px

@each $name, $color in $_color-main
  .hs-btn--b-#{$name}
    background-color: $color
    @if $name == violet-L1 or $name == violet-L2
      color: map-get($_color-main, violet-H1)

  .hs-btn--hb-#{$name}
    &:hover
      background-color: $color
      @if $name == violet-L1 or $name == violet-L2
        color: map-get($_color-main, violet-H1)

@each $name, $color in $_color-secondary
  .hs-btn--b-#{$name}
    background-color: $color
    color: map-get($_color-main, violet-L2)

  .hs-btn--hb-#{$name}
    &:hover
      background-color: $color
      color: map-get($_color-main, violet-L2)


.ready-transition-enter-active
  animation: move-right 500ms

.ready-transition-leave-active
  animation: move-right 500ms reverse

@keyframes move-right
  from
    transform: translateX(200%)
  to
    transform: translateX(0%)

